body {
  background: #f9fafc;
  text-align: center;
  height: 100vh;
  /* width: 100%; */
  margin: 10px;
  color: #252d2d;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 100vw 200vh;
  overflow: hidden;
}

.logo {
  color: #008a85;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-container > button {
  flex: 1;
  margin: 10px;
}

.content-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 5px;
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100％;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  /* margin-top: 10px; */
  overflow: scroll;
  border-radius: 8px;
}

.content-div > .reserved {
  width: 100%;
  height: 80px;
}

button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.login {
  background: #00c2bc !important;
}

.banner > div > i {
  font-size: 32px;
}

h2 {
  padding: 5px;
  font-size: 16px;
}

.result-doctors {
  flex: 1;
  display: flex;
  padding: 5px 10px;
  margin: 10px 0;
  border: #000000 solid 1px;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px;
}

.result-doctors > div {
  flex: 1;
  padding: 5px 10px;
}

.result-doctor-buttons > button {
  width: 80px;
}

.doctor-name {
  font-size: 16px;
}

.checked {
  color: orange;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.navbar > button {
  height: 50px;
  width: 100px;
  margin: 5px;
}

.navbar > button > i {
  font-size: 24px;
}

.clinic {
  padding: 5px;
  margin: 5px;
  border: solid 1px #000000;
}