body {
    background: #F9FAFC;
    text-align: center;
    /* width: 100%; */
    margin: 10px;
    color: #252D2D;
    text-align: center;
    font-size: 14px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    overflow-x: scroll;
}

.logo {
    color: #008a85;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.back {
    /* display: flex;
    justify-content: flex-start; */
    text-align: left;
}

h3 {
    font-weight: bold;
    color: #008a85;
    /* justify-content: center; */
    text-align: center;
}

/* .title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} */

.number-container,
.detail-container { 
    background:white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
    width: 100％;
    box-sizing: border-box;
    padding: 10px;
    overflow-x: scroll;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* .time-container {
    display: none;
} */

.doctor-img > img {
    width: 100px;
}

.doctor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background:white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
    width: 100％;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
}

.back > input.button {
    background: #eeeeee !important;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    outline: none !important;
    color: #bbbbbb !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;
}

button,
input.button {
    background: #47D8D2 !important;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

button.login {
    background: #00C2BC !important;
}

.navbar {
    position: fixed;
    padding:0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: flex-end;
    background-color: #ffff;
    box-sizing: border-box;
  }
  
  .navbar > button {
    flex: 1;
    height: 50px;
    /* width: 80px; */
    margin: 0;
    border-radius: 0;
    border: 1px solid  white !important;
  }
  
  .navbar > button > i {
    font-size: 1.2rem;
  }

.addeventatc {
    background: #47D8D2 !important;
    border-radius: 4px !important;
    color: white !important;
}

.addcaltext {
    font-weight: bold;
    color: white;
}