body {
  font-family: "Roboto", sans-serif;
  background: #f9fafc;
  font-weight: bold;
  overflow: hidden;
  margin: 10px;
}
.logo {
  color: #008a85;
  text-align: center;
  margin-bottom: 20px;
}

h6 {
  text-align: center;
  font-weight: bold;
}

.container {
  width: 90vw;
  height: 100vh;
}
.doctor-list {
  background: white;
  padding: 5px;
  border-radius: 5px;
}
.doctors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 15px;
  /* border: 1px solid grey; */
  background-color: #f2fcfa;
  border-radius: 5px;
}
.doctor-profile {
  margin-left: 10px;
}

.doctor-buttons {
  display: flex;
}
.doctor-buttons > button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
  background: #47d8d2 !important;
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.checked {
  color: orange;
}

button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.doctor-list{
  overflow: scroll;
  flex:1;
}

.content-div  {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
  flex: 1;
  height: 50px;
  /* width: 80px; */
  margin: 0;
  border-radius: 0;
  border: 1px solid white !important;
}

.navbar > button > i {
  font-size: 1.2rem;
}
