body{
    font-family: 'Roboto', sans-serif;
    background: #F9FAFC;
    font-weight: bold;
    margin: 10px;
}
/* .logo {
    color: #008a85;
} */

.header-container{
   margin-bottom: 20px;
   text-align: center;
}

.medical-container {
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.grey-container{
    width: 100%;
    height: auto;
    background: #efefef;
    padding: 8px;
    border-radius: 5px;
}

input {
    border: none;
    margin-bottom: 10px;
    background: #eeeeee !important;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    outline: none !important;
    color: #bbbbbb !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;

}