body{
    font-family: 'Roboto', sans-serif;
    background: #F9FAFC;
    font-size: smaller;
    font-weight: bolder;
    overflow: hidden;
}
.logo {
    color: #008a85;
    text-align: center;
}

.personal-info {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 5px;
}
.container > div{
    margin-bottom: 20px;
}

button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}


.booking-record,
.medical-record{
    background: #47d8d2;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 5px grey;
    margin-bottom: 15px;
}

.booking-record:hover,
.medical-record:hover{
  box-shadow: 2px 2px lightgray;
  cursor: pointer;
}

.booking-container,
.medical-record-container {
  margin-top: 10px;
}

.fa-star .checked {
  color: orange;
}

.content-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.content-container{
  flex: 1;
  overflow: scroll;
}


.navbar {
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
  flex: 1;
  height: 50px;
  /* width: 80px; */
  margin: 0;
  border-radius: 0;
  border: 1px solid white !important;
}

.navbar > button > i {
  font-size: 1.2rem;
}
