body {
  background: #f4f6f6;
  text-align: center;
  height: 100vh;
  margin: 10px;
  color: #252d2d;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  overflow: scroll;
}

.row {
  --bs-gutter-x: 0rem;
}

.logo {
  color: #008a85;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ticket_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
}



.icon {
  font-size: 30px;
  color: #008a85;
}

.clinic_pic > img {
  width: 80%;
  height: 90%;
}

.clinic_info > .clinic_name {
  font-size: 18px;

  font-weight: bold;
  color: #288a85;
}

.clinic_info > .doctor_name {
  font-size: 16px;
}

.clinic_info > .address,
.contact,
.opening_hours {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 5px;
}

.address {
  margin-top: 10px;
}

.info_title {
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.info_content {
  display: flex;
  flex-direction: column;
  flex: 6;
  text-align: start;
}

.details {
  display: flex;
}

.day {
  margin-right: 3px;
}

.message {
  font-size: 18px;
  font-weight: bold;
  color: #cf5e02;
}

.your_ticket_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket {
  width: 180px;
  height: 180px;
  box-shadow: 2px 2px #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #f2fcfa;
  border-radius: 8px;
  color: #47D8D2;
  font-weight: bold;
  font-size: 16px;
}

.get_time {
  color: #252d2d;
}

.current_number {
  font-size: 30px;
}

/* Button */
.back > input.button {
  background: #eeeeee !important;
  padding: 5px;
  width: 30px;
  border-radius: 5px;
  outline: none !important;
  color: #bbbbbb !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
}

button,
input.button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.login {
  background: #00c2bc !important;
}

.btn {
  /* font-family: 'Open Sans'; */
  /* font-size: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  color: #262626;
  /* border-radius: 10px; */
  height: 30px;
  font-weight: 600;
  padding: 0px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 0;
}

.btn:hover {
  color: #fff;
  background: #455af7;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: fixed;
  padding:0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
    flex: 1;
    height: 50px;
    /* width: 80px; */
    margin: 0;
    border-radius: 0;
    border: 1px solid  white !important;
  }

.navbar > button > i {
  font-size: 1.2rem;
}
