body {
  background: #f9fafc;
  text-align: center;
  height: 100vh;
  /* width: 100%; */
  margin: 10px;
  color: #252d2d;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}

.logo {
  color: #008a85;
  /* width: 20%; */
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.back {
  /* display: flex;
    justify-content: flex-start; */
  text-align: left;
}

h3 {
  font-weight: bold;
  color: #008a85;
  /* justify-content: center; */
  text-align: center;
}

.form-group,
.time-container,
.user-container {
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100％ !important;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: scroll;
  height: calc(15vh);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* .time-container {
    display: none;
} */

.timeSlot {
  font-weight: bold;
  text-align: center;
  color: #47d8d2;
  border: 0;
  outline: none !important;
}

.doctor-img > img {
  width: 100px;
}

.doctor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100％;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
}

.back > input.button {
  background: #eeeeee !important;
  padding: 5px;
  width: 30px;
  border-radius: 5px;
  outline: none !important;
  color: #bbbbbb !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
}

button,
input.button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.login {
  background: #00c2bc !important;
}

/* calendar  */
/* Basis */

.btn {
  /* font-family: 'Open Sans'; */
  /* font-size: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  color: #262626;
  /* border-radius: 10px; */
  height: 30px;
  font-weight: 600;
  /* min-width: 100px; */
  padding: 0px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 0;
}

.btn:hover {
  color: #fff;
  background: #455af7;
}

.btn-small {
  min-width: 50px;
}

.btnDay {
  /* font-family: 'Open Sans'; */
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  outline: 0;
  border-radius: 8px;
  transition: 0.4s all;
}

.btnDay.active {
  color: #fff;
  font-weight: 600;
  z-index: 99;
}

.btnDay.active::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: #455af7;
  border-radius: 10px;
  z-index: -1;
}

.text-field {
  padding: 10px;
  height: 50px;
  width: 200px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin: 0px 10px 0 0;
}

.title {
  font-size: 1.3em;
}

.subtitle {
  font-size: 1.1em;
}

/* Calendar */

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background: #ecf1f8;
} */

.calendar-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

#currentDate {
  text-align: center;
  font-size: 20px;
}

.field {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 20px 0;
}

.field label {
  margin: 2px;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.day-assets {
  display: flex;
  justify-content: space-between;
  width: 324px;
}

.day-assets .btn:nth-child(2) i {
  padding: 0 10px 0 0 !important;
}

.calendar {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  /* padding: 10px; */
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px 18px 0px 0px;
  padding: 15px;
  height: 50px;
  width: 100%;
  color: #262626;
}

.month {
  font-size: 0.7em;
}

.icon {
  /* padding: 10px; */
  /* font-size: 1em; */
  width: 30px !important;
  margin: 0 0 0 5px;
  background: #ffffff;
  color: #455af7;
  border: none;
  cursor: pointer;
  outline: 0;
}

.icon:hover {
  cursor: pointer;
}

#calendar {
  width: 100%;
}

.weekends th {
  font-size: 1em;
  color: gray;
  font-weight: 400;
  width: 40px;
  margin: 10px 0;
}

#calendar tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3px;
}

#calendar td {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
}

.row {
  --bs-gutter-x: 0rem;
}

.content-container {
  position: relative;
  margin-top: 5px;
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100％;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  /* margin-top: 10px; */
  overflow: scroll;
  border-radius: 8px;
}

.content-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
  flex: 1;
  height: 50px;
  /* width: 80px; */
  margin: 0;
  border-radius: 0;
  border: 1px solid white !important;
}

.navbar > button > i {
  font-size: 1.2rem;
}
