
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    background: #F9FAFC;
}

.logo-container {
    margin-top: 50px;
    align-items: center;
}

.title-text {
    font-size: 24px;
    color: #999999;
}

.container{
    margin-top: 50px;
    padding: 30px;
    width: 450px;
    height: 600px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px lightgray;
}


.register > i{
    font-size: 25px;
    color: #008a85;
}

a{
    color: white;
    text-decoration: none;
}
form > input:hover,
a:hover{
    text-decoration: none;
    color: white;
}

#login-form{
    margin-top: 50px;
    width: 100%;
}

form > div > input{
    color: white;
    border: none;
    width: 100px;
    padding: 5px ;
    background-color:#47D8D2;
    border-radius: 5px;
}

.links{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links > div{
    width: 100%;
    margin-bottom: 20px;
    background-color: #9AE9E5;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.form-control {
    margin-bottom: 5px;
    border: 0;
    outline: none !important;
    margin-left: 0 !important;
    border-bottom: 2px solid #999999;
    text-align: center;
    border-radius: unset;
}