body {
  background: #f9fafc;
  text-align: center;
  height: 100vh;
  /* width: 100%; */
  margin: 10px;
  color: #252d2d;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 100vw 200vh;
  overflow: hidden;
}

.logo {
  color: #008a85;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-container > button {
  flex: 1;
  margin: 10px;
}

.content-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 5px;
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  /* margin-top: 10px; */
  overflow: scroll;
  border-radius: 8px;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.login {
  background: #00c2bc !important;
}

.banner > div > i {
  font-size: 32px;
}

h2 {
  padding: 5px;
  font-size: 16px;
}

.result-doctors {
  flex: 1;
  display: flex;
  padding: 5px 10px;
  margin: 10px 0;
  border: #000000 solid 1px;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px;
}

.result-doctors > div {
  flex: 1;
  padding: 5px 10px;
}

.result-doctor-buttons > button {
  width: 80px;
}

.doctor-name {
  font-size: 16px;
}

.checked {
  color: orange;
}

.clinic {
  padding: 5px;
  margin: 5px;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.info {
  text-align: left;
  padding: 10px;
}

.comment-container {
  margin-top: 20px;
}

.comment-container > *{
  margin-bottom: 10px;
}

.comment {
  background-color: rgb(231, 231, 231);
  /* padding: 10px; */
  text-align: start;
}

#comment-id{
  /* display: flex;
  justify-content: space-between; */
}

#grading{
  border: rgb(219, 219, 219) 1px solid;
  width: 50px;
}
#comment-id > button {
  margin-left: 5px;
  width: 60px;
  height: 30px;
}

.comment-box {
  overflow: scroll;
  margin-top: 10px;
}

.comment-box > div {
  margin-bottom: 20px;
  border-radius: 10px;
}

table, th, td {
  border: 3px solid white;
  background-color: #f0f0f0;
  text-align: center;
}

.info{
  overflow: scroll;
  font-size: 0.8rem;
  text-align: center;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: fixed;
  padding:0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
  flex: 1;
  height: 50px;
  /* width: 80px; */
  margin: 0;
  border-radius: 0;
  border: 1px solid  white !important;
}

.navbar > button > i {
  font-size: 1.2rem;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comment-content {
  display: flex;
}

.comment-user {
  display: flex;
}

.comment-user> div {
  display: flex;
  flex: 1;
}

.comment-user > .comment-name {
  display: flex;
  flex: 4;
  text-align:inherit;
  color: #47d8d2;
}


.comment-content> div {
  display: flex;
  flex: 1;
}

.comment-content > p {
  display: flex;
  flex: 4;
  color: #262626;
  text-align:inherit;
}

h6 {
  font-weight: bold;
}

#comment-id {
  background-color: #eeeeee;
  border-radius: 5px;
}
