body {
    background: #F4F6F6;
    text-align: center;
    /* width: 100%; */
    margin: 10px;
    color: #252D2D;
    text-align: center;
    font-size: 14px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    overflow-x: scroll;
    
}

.row {
    --bs-gutter-x: 0rem;
}

.logo {
    color: #008a85;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.clinic_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.clinic_info{
    /* background: #ffff00; */
    padding: 10px;
  
}

.icon {
    font-size: 30px;
    color: #008a85;

}

.clinic_pic > img {
    width: 80%;
    height:90%;
}

.clinic_info > .clinic_name {
    font-size: 18px;
  
    font-weight: bold;
    color: #288A85;
}

.clinic_info > .doctor_name {
    font-size: 16px;
  
}

.clinic_info > .address, .contact, .opening_hours {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.address {
    margin-top: 10px;
}

.info_title{
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.info_content {
    display: flex;
    flex-direction: column;
    flex: 6;
    text-align: start;
}


.details {
    display: flex;
}

.day {
    margin-right: 3px;
}

.ticket_status_container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */ 
}



.ticket_status {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px 0;
    
}

.board {
    border-radius: 5px;
    border: 2px solid #008a85;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 5px;
    color: #008a85;
}

.standby {
    border-radius: 5px;
    /* border: 2px solid #cf5e02; */
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 5px;
    color: #cf5e02;
}

.ticket {
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px #efefef;
}

.ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f2fcfa;
    color: #47D8D2;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.current_number {
    font-size: 30px;
  
}


.queue_active {
    display: none;
    justify-content: center;
}









/* Button */
.back > input.button {
    background: #eeeeee !important;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    outline: none !important;
    color: #bbbbbb !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;
}

button,
input.button {
    background: #47D8D2 !important;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

button.login {
    background: #00C2BC !important;
}

.btn {
    /* font-family: 'Open Sans'; */
    /* font-size: 1em; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #fff;
    color: #262626;
    /* border-radius: 10px; */
    height: 30px;
    font-weight: 600;
    padding: 0px 20px;
    transition: 0.2s ease;
    cursor: pointer;
    outline: 0;
}

.btn:hover {
    color: #FFF;
    background: #455AF7;
}

.content-div > .reserved {
    width: 100%;
    height: 50px;
    z-index: 1;
  }
  
  .navbar {
    position: fixed;
    padding:0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: flex-end;
    background-color: #ffff;
    box-sizing: border-box;
  }
  
  .navbar > button {
    flex: 1;
    height: 50px;
    /* width: 80px; */
    margin: 0;
    border-radius: 0;
    border: 1px solid  white !important;
  }
  
  .navbar > button > i {
    font-size: 1.2rem;
  }
  