body {
  background: #f9fafc;
  text-align: center;
  height: 100vh;
  /* width: 100%; */
  margin: 10px;
  color: #252d2d;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 100vw 200vh;
  overflow: hidden;
}

.logo {
  color: #008a85;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* .header-container .form-switch {
  align-items: center;
  padding: 3px;
  display: flex;
  font-size: 1rem;
} */

.select-box {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 5px;
  border: lightgray 1px solid;
}

select {
  border: lightgray 1px solid;
  color: #777777;
  padding: 5px;
}

#district,
#specialty,
#order {
  border-radius: 5px;
}

#flexSwitchCheckDefault{
  margin: 0;
  width: 50px;
  height: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-form > div {
  width: 100%;
}

#search {
  display: flex;
}

#search-input{
  border-radius: 0 !important;
  margin-bottom: 5px;
}

#search-addon{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  height: 43px;
  margin-bottom: 5px;
}

.criteria {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.criteria > div {
  flex: 1;
}

.button-container > form > div > button {
  width: 50px;
  height: 40px;
  margin: 0px;
  box-sizing: border-box;
}

.order > label > i{
  font-size: 1.8rem;
}

.input-group {
  margin: 10px 0;
}

.content-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 5px;
  background: white;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
  width: 100％;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  /* margin-top: 10px; */
  overflow: scroll;
  border-radius: 8px;
}

button {
  background: #47d8d2 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.login {
  background: #00c2bc !important;
}

h2 {
  padding: 5px;
  font-size: 16px;
}

.doctors {
  flex: 1;
  display: flex;
  padding: 5px 10px;
  margin: 10px 0;
  /* border: lightgray solid 1px; */
  background-color: #f2fcfa;
  border-radius: 5px;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px;
}

.doctors > div {
  flex: 1;
  padding: 5px 10px;
}

.doctor-buttons > button {
  width: 80px;
}

.doctor-name {
  font-size: 1rem;
}

.specialty {
  font-size: 0.8rem;
  word-wrap: break-word;
}

.result-clinic {
  flex: 1;
  display: flex;
  padding: 5px 10px;
  margin: 10px 0;
  border: #000000 solid 1px;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px;
}

.result-clinic > div {
  flex: 1;
  padding: 5px 10px;
}

.result-clinic-buttons > button {
  width: 80px;
}

.clinic-name {
  font-size: 1rem;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green{
  background-color: #008000	;
}

.dot.red{
  background-color:#8B0000			;
}

.checked {
  color: orange;
}

.content-div > .reserved {
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar {
  position: fixed;
  padding:0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffff;
  box-sizing: border-box;
}

.navbar > button {
  flex: 1;
  height: 50px;
  /* width: 80px; */
  margin: 0;
  border-radius: 0;
  border: 1px solid  white !important;
}

.navbar > button > i {
  font-size: 1.2rem;
}
