
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    /* background: #F9FAFC; */
}

.logo-container {
    margin-top: 50px;
    align-items: center;
}

.container{
    width: 100vw;
}
.google-icon{
    width: 25px;
    height: 70%;
}

.register > i{
    font-size: 25px;
    /* color: #008a85; */
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
form > input:hover,
a:hover{
    text-decoration: none;
    color: white;
}
#login-form{
    margin-top: 50px;
    width: 100%;
}

form > input{
    color: white;
    border: none;
    width: 100%;
    padding: 5px ;
    background-color:#008a85;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
}

.links{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links > div{
    width: 100%;
    margin-bottom: 20px;
    background-color: #9AE9E5;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

@media(min-width: 675px){
    .container{
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    form > input {
        width: 100px;
    }
    .links{
        text-align: left;
        width: 200px;
    }
    #login-form > div{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.form-control {
    margin-bottom: 5px;
    border: 0;
    outline: none !important;
    margin-left: 0 !important;
    border-bottom: 2px solid #999999;
    text-align: center;
    border-radius: unset;
}
