body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.logo-container {
    align-items: center;
    text-align: center;
}


#register_createProfile > *{
    margin-bottom: 20px;
}

#register_createProfile > button{
    padding: 10px;
    width: 100%;
    border: none;
    color: white;
    background-color: #008a85;
}
/* #register_createProfile > button:hover{
    box-shadow: 0 0 5px 5px #008a85;
} */

.form-control {
    margin-bottom: 5px;
    border: 0;
    outline: none !important;
    margin-left: 0 !important;
    border-bottom: 2px solid #999999;
    text-align: center;
    border-radius: unset;
}