body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

button {
  background: #e5e5e5 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: #13bab5 !important;
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

#dropdownMenuButton1{
  /* font-size: 0.8rem !important; */
  width: 150px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #13bab5;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #08a7a1;
}

.show-all {
  background: #13bab5 !important;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  outline: none !important;
  color: white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 13px !important;
  margin-bottom: 16px !important;
}

.show-all:hover {
  background: #08a7a1 !important;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  outline: none !important;
  color:white !important;
  font-weight: bold;
  border: 0 !important;
  font-size: 13px !important;
  margin-bottom: 16px !important;
}

.row {
  margin: 0;
  padding: 0;
}

.side-bar {
  padding: 0;
  justify-content: center;
  background-color: #f2f5f5;
  height: 100vh;
  position: relative;
}

.column > div {
  text-align: center;
  color: #13bab5;
  word-wrap: break-word;
}

.clinic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
}

.clinic-info > div {
  /* margin: 10px; */
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navigation > div {
  margin: 10px;
  text-align: left;
  padding-left: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.right > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.memo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px lightgray;
}

#total-appointment {
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  margin: 0;
}

.button-set {
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}

.patient-appointment {
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
}

.center > div {
  display: flex;
}

.button-set > button {
  width: 140px;
  height: 100px;
}

.clinic-name {
  color: #000000;
}

.patient-appointment {
  display: flex;
  flex-direction: column;
  color: #13bab5;
  font-weight: bold;
}

.patient-appointment > p {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

.appointment-container {
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  flex: 1;
  height: 100%;
  overflow: scroll;
}

.queue-container > div {
  display: flex;
  justify-content: space-around;
}

.table {
  text-align: center;
  font-size: 0.8rem;
  color: #454545;
}

table, tr {
  border-bottom: 3px solid #e5e5e5;
  border-collapse: collapse;
  vertical-align: baseline;
}

.table thead {
  color: #13bab5;
}

.queue {
  background-color: #13bab5;
}

.ticket {
  background-color: #9ae9e5;
}

.booking {
  background-color: #e9dc9a;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#search-form {
  width: 400px;
  /* display: flex;
  justify-content: center; */
}

#search {
  display: flex;
}

#search-input{
  /* border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; */
  margin-bottom: 10px;
}

#search-addon{
  /* border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; */
  height: 20px;
  margin-bottom: 10px;
  width: 20px !important;
} 

input#date.text-field {
  border: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px lightgray;
  text-align: center;
}

span > i {
  color: white;
  background: rgba(19, 186, 181, 0.95);
  box-shadow: 2px 2px rgba(11, 133, 233, 0.2);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.booking td:first-child,
.ticket td:first-child {
  border-radius: 8px 0 0 8px;
}

.booking td:last-child,
.ticket td:last-child {
  border-radius: 0 8px 8px 0;
}