body {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  .row {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #13bab5;
  }
  
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #08a7a1;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
  
.side-bar {
    padding: 0;
    justify-content: center;
    background-color: #f2f5f5;
    height: 100vh;
    position: relative;
  }
  .column > div {
    text-align: center;
    color: #13bab5;
  }
  .clinic-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
  }
  
  .clinic-info > div {
    /* margin: 10px; */
  }
  .clinic-name{
      color: black;
  }

  .navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .navigation > div {
    margin: 10px;
    text-align: left;
    padding-left: 15px;
  }
  .patient-profile {
      margin-top: 70px;
      margin-left: 5vw;
  }
  .detail-profile {
      margin-top: 5px;
  }
  .detail-profile > div {
      width: 30vw;
      height: 100%;
      background: rgb(226, 225, 225);
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .all-records {
    margin-top: 70px;
  }
  .add-report {
    /* display: none; */
      margin-bottom: 10px;
      border: none;
      padding: 10px;
      background-color: #008a85;
      color: white;
      border-radius: 5px;
      font-weight: bold;
  }
  .add-report:hover {
    background-color: #015856;
    box-shadow: 2px 2px lightgray;
    font-weight: bold;
  }
  .medical-record {
      background-color: rgb(225, 226, 226);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
  .medical-record:hover {
    cursor: pointer;
    box-shadow: 2px 2px lightgray;
  }

  .title {
    color: #008a85;
  }
