body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

button {
  background: #e5e5e5 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: #13bab5 !important;
  /* font-weight: bold; */
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.row {
  margin: 0;
  padding: 0;
}

.side-bar {
  padding: 0;
  justify-content: center;
  background-color: #f2f5f5;
  height: 100vh;
  position: relative;
}

.column > div {
  text-align: center;
  color: #13bab5;
}

.clinic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.clinic-info > div {
  margin: 10px;
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navigation > div {
  margin: 10px;
  text-align: left;
  padding-left: 15px;
}




.button-set {
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center > div {
  display: flex;
  
}

.button-set > button {
  width: 140px;
  height: 100px;
}

.clinic-name {
  color: #000000;
}






.search-result-bar {
  /* height: 200px; */
  width: 100%;
  background-color: #B7CBCA;
  display: flex;
  /* padding: 10px; */
  border-radius: 5px;
}

.search-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #F1F5F5;
  padding: 10px;
  align-items:stretch;
  justify-content: space-between;
  border-radius: 5px 0 0 5px;
}

.result-section {
  display: flex;
  flex: 4;
  padding: 10px;
  border-radius: 0 5px 5px 0;
 
}

.result-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-table {
  width:100%;
  padding: 10px;
  text-align: center;
  border: none
}

.top-table thead {
  color:#13bab5;
}


.patient-brief tr {
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.patient-brief td:first-child {
  border-radius: 5px 0 0 5px;
}

.patient-brief td:last-child {
  border-radius: 0 5px 5px 0;
}

.search-label {
  display: flex;
  flex: 1;
  align-items: center;
}

.search-input {
  display: flex;
  flex: 1;
}

.search-input {
  display: flex;
}


