body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

button {
  background: #e5e5e5 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: #13bab5 !important;
  /* font-weight: bold; */
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #13bab5;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #08a7a1;
}

.row {
  margin: 0;
  padding: 0;
}

.side-bar {
  padding: 0;
  justify-content: center;
  background-color: #f2f5f5;
  height: 100vh;
  position: relative;
}

.column > div {
  text-align: center;
  color: #13bab5;
}

.clinic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.clinic-info > div {
  margin: 10px;
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navigation > div {
  margin: 10px;
  text-align: left;
  padding-left: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.right > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.memo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 8px;
  box-shadow: 2px 2px lightgray;
}

.now-serving-container{
    display: flex;
    width: 200px;
    height: 200px;
}

.serving{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.now-serving {
  background-color: #fcd46d;
  margin: 10px;
  height: 100px;
  width: 100px;
}

#next-ticket {
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  margin: 0;
}

.button-set {
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}

.patient-queue {
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
}

.center > div {
  display: flex;
}

.button-set > button {
  width: 140px;
  height: 100px;
}

.clinic-name {
  color: #000000;
}

.patient-queue {
  display: flex;
  flex-direction: column;
  color: #13bab5;
  font-weight: bold;
}

.patient-queue > p {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

.queue-container {
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  flex: 1;
  overflow: scroll;
}

.queue-container > div {
  display: flex;
  justify-content: space-around;
}

.table {
  text-align: center;
  font-size: 0.8rem;
  color: #454545;
}

table, tr {
  border-bottom: 3px solid #e5e5e5;
  border-collapse: collapse;
  vertical-align: baseline;
}

.table thead {
  color: #13bab5;
}

.queue {
  background-color: #13bab5;
}

.ticket {
  background-color: #9ae9e5;
}

.seeing {
  background-color: #7dedb0 !important;
  /* color: white; */
}

.booking {
  background-color: #e9dc9a;
}

#dropdownMenuButton1{
  font-size: 0.8rem !important;
  width: 150px;
}

span > i {
  color: white;
  background: rgba(19, 186, 181, 0.95);
  box-shadow: 2px 2px rgba(11, 133, 233, 0.2);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.booking td:first-child,
.ticket td:first-child {
  border-radius: 8px 0 0 8px;
}

.booking td:last-child,
.ticket td:last-child {
  border-radius: 0 8px 8px 0;
}

.logout {
  cursor: pointer;
}