body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

button {
  background: #e5e5e5 !important;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  outline: none !important;
  color: #13bab5 !important;
  /* font-weight: bold; */
  border: 0 !important;
  font-size: 14px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #13bab5;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #08a7a1;
}

.row {
  margin: 0;
  padding: 0;
}

.side-bar {
  padding: 0;
  justify-content: center;
  background-color: #f2f5f5;
  height: 100vh;
  position: relative;
}

.column > div {
  text-align: center;
  color: #13bab5;
}

.clinic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
}

.clinic-info > div {
  /* margin: 10px; */
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navigation > div {
  margin: 10px;
  text-align: left;
  padding-left: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  align-items: center;
}

.right > .serving {
  display: flex;
  flex: 6;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.right > .panel {
  display: flex;
  flex-direction: column;
  flex: 4;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.panel > p {
  font-weight: bold;
}

.panel > div {
  margin: 10px 0;
}

.memo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px lightgray;
}
.now-serving-container{
    display: flex;
    width: 150px;
    height: 150px;
}

.serving{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.now-serving {
  background-color: #ffffff;
  margin: 10px;
  height: 150px;
  width: 150px;
}

#next-ticket {
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  margin: 0;
}

.button-set {
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}

.patient-queue {
  height: 75vh;
}

.center {
  display: flex;
  flex-direction: column;
}

.center > div {
  display: flex;
}

.button-set > button {
  width: 140px;
  height: 100px;
}

.clinic-name {
  color: #000000;
}

.ticket-queue {
  display: flex;
  flex-direction: column;
  color: #13bab5;
  font-weight: bold;
  /* padding: 10px; */
  /* margin-top: 50px; */
  height: 100%;
}

.ticket-queue > p {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

.queue-container {
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

.queue-container > div {
  display: flex;
  justify-content: space-around;
}

.table {
  text-align: center;
  font-size: 0.8rem;
  color: #454545;
}

table, tr {
  border-bottom: 3px solid #e5e5e5;
  border-collapse: collapse;
  vertical-align: baseline;
}

.table thead {
  color: #13bab5;
}

.queue {
  background-color: #13bab5;
}

.ticket {
  background-color: #9ae9e5;
}
.booking {
  background-color: #e9dc9a;
}

.stop_queue{
  pointer-events: none;
}

.panel {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  font-weight: bold;
  width: 95%;
  box-shadow: 2px 2px lightgray;
}

/* .form-switch {
  display: flex;
  justify-content: flex-start;
  width: 100%;
} */

/* .form-switch > * {
  margin: 0 10px;
} */

.ticket-board-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.ticket-board {
  width: 100px;
  height: 100px;
  background-color:#025c59;
  /* box-shadow: 2px 2px #ffff00; */
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-ticker-number-container {
  width: 100%;
}

.set-ticket-number-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#set-ticket {
  text-align: center;
}

#dropdownMenuButton1{
  font-size: 0.8rem !important;
  width: 150px;
}

.navigation-button {
  cursor: pointer;
}

span > i {
  color: white;
  background: rgba(19, 186, 181, 0.95);
  box-shadow: 2px 2px rgba(11, 133, 233, 0.2);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ticket td:first-child {
  border-radius: 8px 0 0 8px;
}

.ticket td:last-child {
  border-radius: 0 8px 8px 0;
}