body {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  .row {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #13bab5;
  }
  
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #08a7a1;
  }

  .title {
    color: #008a85;
    font-size: 18px;
    font-weight: bold;
  }
  
.side-bar {
    padding: 0;
    justify-content: center;
    background-color: #f2f5f5;
    height: 100vh;
    position: relative;
  }
  .column > div {
    text-align: center;
    color: #13bab5;
  }
  .clinic-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
  }
  
  .clinic-info > div {
    /* margin: 10px; */
  }
  .clinic-name{
      color: black;
  }

  .navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .navigation > div {
    margin: 10px;
    text-align: left;
    padding-left: 15px;
  }

.create-report {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #createReport {
      margin-top: 20px;
      width: 50vw;
  }

  #createReport > input {
      margin-bottom: 30px;
  }

  #createReport > button {
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    background-color: #008a85;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
  }
  #createReport > button:hover {
    box-shadow: 2px 2px lightgray;
  }